---
import Layout from "@/layouts/Base";
---
<Layout >
    <section class="space-y-6 pt-8 lg:py-28 flex">
        <div
          class="container  flex flex-wrap-reverse justify-center lg:flex-nowrap  gap-5 "
        >
        <div class="min-w-[720px]">
<iframe data-tally-src="https://tally.so/embed/w4jp7B?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="1318" frameborder="0" marginheight="0" marginwidth="0" title="Reader Feedback"></iframe>
</div>

 
 <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdOr9VOdSJ1if4PSKwwS7GaSxGMZdTeJdBtP4_Y5wdAawdvOA/viewform?embedded=true" width="800" height="800" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
 -->
</div>


    </section>

</Layout>

<script async src="https://tally.so/widgets/embed.js"></script>
<!--     <div class="flex center items-center">
</div>
</Layout> -->